# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.DS_Store # macOS specific

# Database files
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.flaskenv

# Jupyter Notebook specific
.ipynb_checkpoints/
